# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
tfplan
plan.json
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Node
node_modules/
dist/
coverage/

# Environment files
.env
.env.*

# OS / editor
.DS_Store

# Python
__pycache__/
*.pyc

# Build output
.build/
